Weather Data analysis:

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Weather-dataset.csv")

In [3]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [9]:
data.values

array([['1/1/2012 0:00', -1.8, -3.9, ..., 8.0, 101.24, 'Fog'],
       ['1/1/2012 1:00', -1.8, -3.7, ..., 8.0, 101.24, 'Fog'],
       ['1/1/2012 2:00', -1.8, -3.4, ..., 4.0, 101.26,
        'Freezing Drizzle,Fog'],
       ...,
       ['12/31/2012 21:00', -0.5, -1.5, ..., 4.8, 99.95, 'Snow'],
       ['12/31/2012 22:00', -0.2, -1.8, ..., 9.7, 99.91, 'Snow'],
       ['12/31/2012 23:00', 0.0, -2.1, ..., 11.3, 99.89, 'Snow']],
      shape=(8784, 8), dtype=object)

In [10]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [12]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [20]:
data["Date/Time"].unique()

array(['1/1/2012 0:00', '1/1/2012 1:00', '1/1/2012 2:00', ...,
       '12/31/2012 21:00', '12/31/2012 22:00', '12/31/2012 23:00'],
      shape=(8784,), dtype=object)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [22]:
data.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [26]:
data.iloc[0:100:2,0:4]

         Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%
0    1/1/2012 0:00    -1.8              -3.9         86
2    1/1/2012 2:00    -1.8              -3.4         89
4    1/1/2012 4:00    -1.5              -3.3         88
6    1/1/2012 6:00    -1.5              -3.1         89
8    1/1/2012 8:00    -1.4              -3.6         85
10  1/1/2012 10:00    -1.0              -2.3         91
12  1/1/2012 12:00    -0.2              -2.0         88
14  1/1/2012 14:00     0.8              -1.1         87
16  1/1/2012 16:00     2.6              -0.2         82
18  1/1/2012 18:00     3.8               1.0         82
20  1/1/2012 20:00     3.2               1.3         87
22  1/1/2012 22:00     4.4               1.9         84
24   1/2/2012 0:00     5.2               1.5         77
26   1/2/2012 2:00     3.9              -0.9         71
28   1/2/2012 4:00     2.9              -2.3         69
30   1/2/2012 6:00     2.3              -2.6         70
32   1/2/2012 8:00     1.9              -3.3         68
34  1/2/2012 10:00     1.5              -4.1         66
36  1/2/2012 12:00     1.7              -6.2         56
38  1/2/2012 14:00     1.1              -6.8         56
40  1/2/2012 16:00    -0.7              -8.7         55
42  1/2/2012 18:00    -4.1             -11.4         57
44  1/2/2012 20:00    -5.6             -13.4         54
46  1/2/2012 22:00    -7.0             -14.7         54
48   1/3/2012 0:00    -9.0             -16.0         57
50   1/3/2012 2:00   -10.5             -15.8         65
52   1/3/2012 4:00   -12.6             -20.1         53
54   1/3/2012 6:00   -13.3             -19.3         61
56   1/3/2012 8:00   -14.8             -21.3         58
58  1/3/2012 10:00   -15.3             -22.2         56
60  1/3/2012 12:00   -14.9             -22.6         52
62  1/3/2012 14:00   -14.9             -22.9         50
64  1/3/2012 16:00   -15.3             -22.9         52
66  1/3/2012 18:00   -16.3             -23.8         52
68  1/3/2012 20:00   -17.3             -25.4         49
70  1/3/2012 22:00   -17.1             -24.6         52
72   1/4/2012 0:00   -17.5             -24.2         56
74   1/4/2012 2:00   -18.1             -23.8         61
76   1/4/2012 4:00   -18.5             -24.6         59
78   1/4/2012 6:00   -18.5             -24.1         61
80   1/4/2012 8:00   -17.8             -24.2         57
82  1/4/2012 10:00   -15.2             -20.6         63
84  1/4/2012 12:00   -13.7             -21.7         51
86  1/4/2012 14:00   -11.3             -19.0         53
88  1/4/2012 16:00    -9.4             -15.5         61
90  1/4/2012 18:00    -8.9             -12.6         75
92  1/4/2012 20:00    -7.8             -12.1         71
94  1/4/2012 22:00    -9.5             -12.7         77
96   1/5/2012 0:00    -8.8             -11.7         79
98   1/5/2012 2:00    -5.4              -8.3         80